@*@model IEnumerable<Fintech.Models.ModelClass.HouseHold>*@

@model Fintech.Models.ModelClass.HouseHold
@using Fintech.HelperClass












@*<p>
    @Html.ActionLink("Create New HouseHold", "CreateJoinHouseHold","Home",null,new { @class = "btn btn-primary"})
</p>*@

<table class="Table">
    <thead>
        <tr>

            <th>
                <span>@Html.DisplayName("Current HouseHold:")</span>
            </th>


        </tr>
    </thead>



    <tbody>

        <tr>

            <td>
                @Model.Name
            </td>

        </tr>
    </tbody>
</table>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Details", "Details", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
    <a href="@Url.Action("Delete", "Delete", new { id = Model.Id})"><img src="~/Content/images/trashcan.png" height="30" width="30" data-toggle="tooltip" title="Delete HouseHold!" /></a>|
     <a href="@Url.Action("Index", "BankAccounts", new { HouseHoldId = Model.Id})"><img src="~/Content/images/bankaccount.png" height="42" width="42" data-toggle="tooltip" title="See BankAccount!" /></a>|
    <a href="@Url.Action("Index", "Budgets", new { HouseHoldId = Model.Id})"><img src="~/Content/images/budget.png" height="42" width="42" data-toggle="tooltip" title="See Budgets!" /></a>

    
</div>








@*<script>
$(document).ready(function(){
    $(".Table").DataTable();
});
</script>*@

<script>
	$(document).ready(function () {
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>


