@*@model IEnumerable<Fintech.Models.ModelClass.Budget>*@

@model Fintech.Models.BudgetViewModels
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create Budget", "Create", new { HouseHoldId = Model.HouseHoldId}, new { @class = "btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("HouseHold")
        </th>
        <th>
            @Html.DisplayName("Budget Name")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Bud) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HouseHold.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })|
            @Html.ActionLink("Budget Items","Index","BudgetItems", new { BudgetId = item.Id}, new { @class ="btn btn-primary"})
        </td>
    </tr>
}

</table>
