@*@model IEnumerable<Fintech.Models.ModelClass.Transaction>*@

@model Fintech.Models.TransactionViewModels


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create Transaction","Create","Transactions",new {BankAccountId = Model.BankAccountId }, new { @class = "btn btn-primary"})
</p>
<p>
    @Html.ActionLink("Back to HouseHold","Index","HouseHolds",null, new { @class ="btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Category")
        </th>
        <th>
            @Html.DisplayName("EnteredBy")
        </th>
        <th>
            @Html.DisplayName("Description")
        </th>
        <th>
            @Html.DisplayName("Date")
        </th>
        <th>
            @Html.DisplayName("Amount")
        </th>
        <th>
            @Html.DisplayName("Type")
        </th>
        <th>
            @Html.DisplayName("User")
        </th>
        <th>
            @Html.DisplayName("Reconciled")
        </th>
        @*<th>
            @Html.DisplayName("SoftDelete")
        </th>*@
        <th>
            @Html.DisplayName("ReconciledAmount")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.TA) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccount.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnteredBy.FullName)
        </td>
        <td>
            @item.Description
        </td>
        <td>
            @item.Date.DateTime.ToLongDateString()
        </td>
        <td>
            @item.Amount
        </td>
        <td>
            @item.Type
        </td>
        <td>
            @item.UserId

        </td>
        <td>
            @item.Reconciled
        </td>
        @*<td>
            @item.SoftDelete
        </td>*@
        <td>
            @item.ReconciledAmount
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id },new { @class ="btn btn-primary"})|
            @Html.ActionLink("Details", "Details", new { id=item.Id },new { @class ="btn btn-primary"}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BankAccountId },new { @class ="btn btn-primary"})
        </td>
    </tr>
}

</table>
