@*@model IEnumerable<Fintech.Models.ModelClass.BudgetItem>*@

@model Fintech.Models.BudgetItemViewModels

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create Budget item", "Create","BudgetItems", new { BudgetId =Model.BudgetId}, new { @class = "btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Budget Name")
        </th>
        <th>
            @Html.DisplayName("Category")
        </th>
        <th>
            @Html.DisplayName("Amount")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.BudItem) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Budget.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            @Html.ActionLink("Back to HouseHolds", "Index", "HouseHolds", new {HouseHoldId = Model.BudgetId }, new { @class = "btn btn-primary"})
        </td>
    </tr>
}

</table>
